*{
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

.logo{
    width: 90px;
    height: 90px;
}
body{
    background: #121212;
}
h1,h2,h3,h4,h5,h6{
    color: #ffffff!important;
}
p{
    color: #ffffff!important;
}
li{
    color: #fff;
}
header {
    z-index: 999999!important;
    width: 100%;
    overflow: hidden;
    height: 100px;
    position: fixed!important;

    .list-menu {
        .list {
            li {
                .item-menu {
                    display: inline-block;
                    position: relative;
                    color: #fff;
                }

                .item-menu:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    // background-color: $color-principal;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }

                .item-menu:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }


    .menu-bar-movil {

        // background: #fff;
        width: 100%;
        position: fixed;
        z-index: 99999 !important;
        top: 0;
        padding: 0 1.5rem;
        display: none;

        justify-content: flex-end;
        align-items: center;
        min-height: 5.875rem;


        .logo-menu-movil {
            width: 6rem;
        }

        .burger-menu {
            cursor: pointer;
            font-size: 2.1875rem;

        }

        .slideMenu {
            position: fixed;
            height: 100%;
            top: 0;
            left: -80%;
            background: #fff;
            text-align: left;
            // padding: 1.25rem 2.25rem;
            width: 80%;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;

            &.active {
                left: 0;
            }

            .top-redes {
                margin-bottom: 0.625rem;

                a {
                    padding: 0 0.5625rem;
                }
            }

            .menu-principal {
                a {
                    display: block;
                    padding: 0.625rem 1rem;

                    // border-top: 1px solid #e1e1e1;
                    &:hover {
                        background: #fff;
                    }
                }
            }
        }
    }


}


@media (max-width:600px) {

    .text-sm-center {
        text-align: center;
    }

    .icon-sm-center {
        justify-content: center;
    }

    .bg-banner-2 {
        background-size: cover !important;
    }

    .navbar {
        display: none !important;
    }

    .bar-menu {
        display: none !important;
    }

    .menu-bar-movil {
        display: flex !important;
    }
    .bg-silueta{
        height: 600px!important;
    }
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    // position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 0;
    min-width: 100%;
    // width: 100vw;
    min-height: 100%;
    height: 100vh;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }


//   TEXT ANIMATION



.text-animation {
    width: 100%;
    height: 100px;
    background: red;
    position: relative;

    .text-a {
        display: flex;
        display: inline;
        width: 100%;
    }
}

// SLIDE
.marquee-w {
    
    // background: green;
    position: relative;
    display: block;
    width: 100%;
    height: 140px;
    overflow: hidden;
    z-index: 0;
}
@media(max-width: 600px){

    .marquee-w{
        z-index: -1; 
    }
    .menu{
        z-index: 8!important;
    }
    
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
    height: 100%;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    min-width: 100%;
    height: 100%;
    animation: marquee 25s linear infinite;
    color: #fff;
}


@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.stroke {
    -webkit-text-stroke: 6px #ffffff;
    letter-spacing: 2px;
}


.footer{
    background-image: url('../img/footer.png');
    width: 100%;
    height: 150vh;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    //   &::after {

    //     z-index: 999999!important;
    //     content: "";
    //     position: absolute;
    //     background: linear-gradient(transparent 5%, #121212 80%);
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;

    // }
}





// SECCION CONTENIDO

*{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.cont-gral{
    width: 100%;
    height: 100vh;
}

.cont-column{
    width: 100%;
    height: 100vh;
    display: flex;
}
.cont-section{
    
    
    overflow: hidden;
    z-index: 99;
    width: 10%;
    height: 100vh;
    transition: 1s ease-in;
    overflow: hidden;
    

    &:nth-child(1){
        &::before{
            content: "";
            position: absolute;
            background-image: url(../img/gajes-column.png);
            background-repeat: no-repeat;
            background-size: auto;
            object-fit: contain;
            transition: 1s ease-in!important;
            width: 100%;
            height: 100%;
            z-index: 99!important;
        }
    }

    &:nth-child(2){
        &::before{
            content: "";
            position: absolute;
            background-image: url(../img/txplica-column.png);
            background-repeat: no-repeat;
            background-size: auto;
            object-fit: contain;
            transition: 1s ease-in!important;
            width: 100%;
            height: 100%;
            z-index: 99!important;
        }
    }
    
    &:nth-child(3){
        &::before{
            content: "";
            position: absolute;
            background-image: url(../img/visionarios-column.png);
            background-repeat: no-repeat;
            background-size: auto;
            object-fit: contain;
            transition: 1s ease-in!important;
            width: 100%;
            height: 100%;
            z-index: 99!important;
        }
    }

    
    &:nth-child(4){
        &::before{
            content: "";
            position: absolute;
            background-image: url(../img/mente-column.png);
            background-repeat: no-repeat;
            background-size: auto;
            object-fit: contain;
            transition: 1s ease-in!important;
            width: 100%;
            height: 100%;
            z-index: 99!important;
        }
    }

    
    &:nth-child(5){
        &::before{
            content: "";
            position: absolute;
            background-image: url(../img/favoritos-column.png);
            background-repeat: no-repeat;
            background-size: auto;
            object-fit: contain;
            transition: 1s ease-in!important;
            width: 100%;
            height: 100%;
            z-index: 99!important;
        }
    }

    .cont-column{
        visibility: hidden;
        transition: 1s ease-in;
        opacity: 0;
    }

    &:hover{
        width: 100%;
        transition: 1s ease-in;

        
        &:nth-child(1){
            &::before{
                margin-left: -100%;
                transition: 1s ease-in;
                z-index: -1!important;
            }
        }
        &:nth-child(2){
            &::before{
                margin-left: -100%;
                transition: 1s ease-in;
                z-index: -1!important;
            }
        }
        &:nth-child(3){
            &::before{
                margin-left: -100%;
                transition: 1s ease-in;
                z-index: -1!important;
            }
        }
        &:nth-child(4){
            &::before{
                margin-left: -100%;
                transition: 1s ease-in;
                z-index: -1!important;
            }
        }
        &:nth-child(5){
            &::before{
                margin-left: -100%;
                transition: 1s ease-in;
                z-index: -1!important;
            }
        }
        

        .cont-column{
            visibility: visible;
            transition: 1s ease-in;
            opacity: 1;
        }
    }

 
}

.cont-title{
    width: 100%;
    height: 100vh;
    // z-index: 1!important;
    // background: grey;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

.cont-text{
    position: absolute; 
    
    justify-content: flex-end;    
    // background: #ffff;
    width: 40%;
    color: #fff;

}

@media screen and (max-width:700px) {

    .cont-title{
        background: #626262;
        display: block;
        padding: 0;
        .cont-text{
            width: 100%;
            height: auto;
            padding: 30px;
        }
    }

    .cont-column{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .cont-section{
            width: 100%;
            height: 10%;
            &:hover{
                overflow-y: scroll;
                height: 100%;
            }
        }
    }
}

.text-video{
    width: 560px;
    height: 315px;
}
.api-video{
   overflow-y: scroll;
   height: 340px;
}

@keyframes delay{

        0%{
            opacity: 0;
        }   

        100%{
            opacity: 1;

        }
}


.carousel{
    
    width: 100%;
    .carousel-inner{
        width: 100%;

    }
    .carousel-item{
        width: 100%;
        height: 300px;
    }
}